*{
    font-family: 'Urbanist', sans-serif !important;
  }
html{
    overflow-x: hidden;
}
.row{
    margin: 0;
}
.nav-det *{
    margin-left: 1rem;
    margin-right: 1rem;

}
.o-row{
    height: 90vh;
    overflow: hidden;
    flex-wrap: nowrap;
}
.bg-alert{
    background-color: #AF8C3E;
}
a{
    text-decoration: none !important;
    color: initial !important;
}
.cat-box{
    padding: 2rem 2rem;
    background-color: #AF8C3E;
}
.price-box{
    position: absolute;
    right: 20px;
    padding: 1rem;
    background-color: #AF8C3E;
    color: white;
    border-radius: 0.5rem;
    
    bottom: 20px;
}
.price-box h5{
    margin-bottom: 0;
}
.p-link{
    display: none !important;
}
.shop-now{
    text-align: center;
    width: max-content !important;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    background-color: #AF8C3E;
}
.bg-tran{
    background-color: rgba(0, 0, 0, 0.5);

}
.pitem:hover .price-box {
    display: none;

}
.pitem:hover .p-link {
    display: flex !important;

}
.circle-icon{
    border-radius: 50%;
    margin: 1rem 0;
}
.vendorImg{
    width: 100%;
    border-radius: 50%;
}
select, input{
    outline: none;
}
.viewMore{
    width: max-content;
    padding: 1rem 2rem;
    border: 1px solid #AF8C3E;
    

}
footer{
    background-color: #AF8C3E;
}
footer a{
    color: white !important;
}
.bg-cusho span{
    background-color: #AF8C3E;
}
.viewFrame{
    position: absolute;
    width: 60%;
    margin-top: 15%;
    height: 70%;
    z-index: -1;
    margin-left: 20%; 
    display: block;
    border: 2px solid #AF8C3E;
}
.cursor-pointer{
    cursor: pointer;
}